html{ overflow-x: hidden;          margin: 0;
    border: 0;
    width: 100%;
}

* {
  box-sizing: border-box;
}





  .padding{padding:80px 0;  display:flex;     -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
 }
  


  @media screen and (max-width: 768px) {
    .flex-item1{ order:2} 

    .flex-item2 { order: 1;  border:3px solid red}
  }






#fixed{background: url("paris.jpg") no-repeat center center fixed;
display:table;
height:60%; 
position: relative;
width:100%; 
background-size:cover; 


}





header{display:flex; justify-content: flex-start; height:85px; align-items: center; padding:20px 1%; top:0; width:100%; position:fixed; border:2px solid #f8f9fa;
  z-index:100; background-color:white!important }
header img{width:230px; max-width:100%; height:auto; margin-left:30px;}



.logo{cursor:pointer; max-height:50px; width:190px; }
.nav-links{margin-top:10px}
.nav-links li{display:inline-block; padding:0px 15px;}
.nav-links li:nth-child(1){padding:0 20px 0 0;}

.nav-links li a{transition: all 0.3s ease 0s; font-family: 'poppins', sans-serif; font-size:15px; color:black; text-transform: uppercase;  text-decoration: none;}
.nav-links li a:hover{color:#ffbf00; font-weight: 600;}
.nav-links li a:hover::after{color:#151515; font-weight:400}




.open{display:none}
.content{display:none}


@media screen and (max-width: 768px) {
.open {

position: relative;
display:block;
margin-left:-70px;
font-size:20px;

}


.content{background-color:white; width:768px;  margin-top:15px;  list-style-type: none;  position: absolute; right:0;
}
.content li{text-align: center; padding:4px; }
.content li::after{width:100%; height:15px; background-color:black}

.content1::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content2::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content3::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content4::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content5::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }


#openContent + #myContent {
display:none;
}

#openContent:checked + #myContent {
display:block;
}

}




.open2{display:block; font-family: 'poppins', sans-serif; font-size:15px; color:black; text-transform: uppercase;  }
.open2:hover{color:#ffbf00; font-weight: 600; cursor: pointer;}
/* form close button */ 
.open3{display:block; font-size:35px; color:#3f3f3f; float:right; margin-right:40px; margin-top:5px; width:50px; cursor: pointer;}

.content2{display:none}


    
    .content2{background-color:white; width:80vw; height:95vh;  margin-top:40px;   position: absolute; margin-left:-654px; 
    }
    
    
    
    #openContent2 + #myContent2 {
    display:none;
    }
    
    #openContent2:checked + #myContent2 {
    display:block;
    }
    

@media screen and (min-width:1015px) and (max-width: 1064px) {

.logo{margin-left:9px;}
}


@media screen and (max-width:668px) {
  .open { margin-left:200px;}
}

@media screen and (min-width:568px) and (max-width: 668px) {
  .open { margin-left:280px;}
}



@media screen and (min-width:668px) and (max-width: 768px) {

  .open { margin-left:350px;}
}


@media screen and (min-width:768px) and (max-width: 1015px) {


.nav-links{display:none; }
.open {

position: relative;
display:block;
margin-left:600px;
font-size:20px;
}





@media screen and (min-width:868px) and (max-width: 930px) {

  .open { margin-left:500px;}
}

@media screen and (min-width:768px) and (max-width: 868px) {

  .open { margin-left:450px;}
}

@media screen and (min-width:768px) and (max-width: 868px) {

  .open { margin-left:450px;}
}



    

.content{background-color:white; width:100%;  list-style-type: none;  position: absolute;  right:0; padding:20px
}

.content li{text-align: center; cursor: pointer; }
.content li:hover{background-color:#ffbf00; color:white; width:100%; height:100%}
.content li a:hover{ color:white; text-decoration: none;}
.content li a{font-family: 'Raleway', sans-serif; font-size:13px; color:rgb(21, 21, 21); font-weight: 500; line-height:21px; text-transform: uppercase;}
.content li::after{width:100%; height:15px; background-color:black}

.content1::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content2::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content3::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content4::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }
.content5::after{ border-bottom:1px solid #DDDDDD; height:1px; content:"";  margin-top:15px; display:block }





#openContent + #myContent {
display:none;
}

#openContent:checked + #myContent {
display:block;
}

}




@media screen and (min-width: 795px) and (max-width:905px) {

  .nav-links{  white-space: nowrap; font-family: 'Raleway', sans-serif;
  }
}
  




@media screen and  (max-width:768px) {
  body{overflow-x:hidden;}
  .nav-links{position: absolute; right:0px; height:92vh; top:8vh;
              display:flex; flex-direction: column; align-items:center; 
                width:50%; transform:translateX(100%); border:none;
           }

.header{border:none}
  .nav-active{transform: translateX(0%);}


  .content{background-color:white; width:100%; list-style-type: none;  position: absolute;  right:0;  
  }
  
  .content li{text-align: center; cursor: pointer;  }
  .content li:hover{background-color:#ffbf00; color:white; border-bottom: none}
  .content li a:hover{ color:white; text-decoration: none; }
  .content li a{font-family: 'Raleway', sans-serif; font-size:13px; color:rgb(21, 21, 21); font-weight: 500; text-transform: uppercase;}
  .content1::after, .content2::after, .content3::after, .content4::after, .content5::after, .content6::after, .content7::after, .content8::after {  display:none }

}


  .block{height:1200px; background-color:#EEE; margin-bottom:20px; padding:50px 0;
     text-align:center}





/* // displaying contactform-phone as none */
.contact-form-mobile{display:none}


     .contact-form-head h3{font-family: 'poppins', sans-serif; font-size:30px; color:#3f3f3f; font-weight:700; margin-left:-75px; margin-top:350px; line-height:45px}
     .contact-form-head p{font-family: 'poppins', sans-serif; font-size:18px;   text-align:justify; padding:12px;
                            margin:18px 139px 0px -14px; word-spacing: -1px; line-height: 40px; }
     

     
     .contact-form {margin-top:140px;}
     .contact-form h3{font-family: 'poppins', sans-serif; font-size:21px; position: relative; }
     #form-asterisk{font-size:9px; color:#3f3f3f; margin-left:8px; margin-top:4px; position: absolute; }
     
     
     
     
     
     
     .Affiliation-select{width:32vw; height:6vh; margin-top:10px;   text-indent: 10px;}
     
     .FirstNameSection{margin-top:15px; position: relative; display: inline-block;}
     .FirstName{width:15vw; height:5vh;}
     .FirstName:focus {color:black}
     
     .LastNameSection{position: absolute ; display: inline-block; margin-left:123px}
     .LastName{width:15vw; height:5vh; margin-left:15px}
     .LastName:focus {color:black}
     
     
     
     
     .EmailSection{ position: relative; margin-top:15px;  display: inline-block; }
     .FormEmail{width:15vw; height:5vh;}
     .FormEmail:focus {color:black}
     
     .PhoneSection{  position: absolute; display: inline-block;  margin-left:179px }
     .FormPhone{width:15vw; height:5vh;  margin-left:15px}
     .FormPhone:focus {color:black}
     
     
     
     .CompanySection{ position: relative; margin-top:15px;  display: inline-block;}
     .Company{width:15vw; height:5vh;}
     .Company:focus {color:black}
     
     .OccupationSection{position: absolute; display: inline-block;  margin-left:130px }
     .Occupation{width:15vw; height:5vh;  margin-left:15px}
     .Occupation:focus {color:black}
     
     
     
     
     
     .CountrtSection{margin-top:15px}
     .country-select{width:32vw; height:6vh; margin-top:10px;   text-indent: 10px;}
     
     
     .MessageSection{margin-top:15px}
     .FormMessage{width:32vw; height:12vh;}
     .FormMessage:focus {color:black; }
     .MessageSection::placeholder { color:red; background-color:red}
     
     
     #formbutton{margin-top:15px; background-color:#ffbf00; border:none; color:black; width:100px; height:40px; font-family: 'poppins', sans-serif;
                    font-size:18px; outline: none; margin-bottom: 60px;}
     
          #formbutton:focus{ box-shadow: none; }
                 
     
     #formbutton:active, #formbutton:focus {border:none; outline-style: none;  }
     

























/* // displaying footer-phone as none */
.footer-phone{display:none}



     .footer{width:100%; height:120px; background-color:black;  margin-top:40px; }

.footer h3{color: #ffbf00;
  font-size: 1.5em; margin-left:140px; padding-top:5px;  }

#coi1{margin-left:140px; color:white; margin-top:10px}
.coi1-span{color:white; margin-left:4px}

.footer-allright{float:right; color:white; margin-right:186px}


#coi2{margin-left:40px; color:white; margin-top:10px}
.coi2-span{color:white; margin-left:4px}

#coi3{margin-left:140px; color:white; margin-top:20px}
.coi3-span{color:white; margin-left:8px}


#coi4{margin-left:246px; color:white; margin-top:20px}
.coi4-span{color:white; margin-left:4px}




#footer-sociali-one{float:right; margin-right:-12px;  font-size:25px; color:white; margin-top:10px}
#footer-sociali-two{float:right; margin-right:-66px;  font-size:25px; color:white; margin-top:10px}
#footer-sociali-three{float:right; margin-right:-107px;  font-size:25px; color:white; margin-top:10px}


@media screen and (min-width: 991px) and (max-width:1264px){
  .footer{height:140px}
  .footer h3{margin-left:36px;}
  #coi1{margin-left:36px}
  #coi2{margin-left:11px}
  #coi3{margin-left:37px}
  #coi4{margin-left:220px}

  .footer-allright {margin-right:114px;}

  #footer-sociali-one{margin-right:-6px}
  #footer-sociali-two{margin-right:-77px}
  #footer-sociali-three{margin-right:-125px}

}


@media screen and (min-width: 900px) and (max-width:991px){
  .footer{height:140px}

  .footer h3{margin-left:36px;}
  #coi1{margin-left:5px; }
  #coi2{margin-left:11px; margin-top:20px;}
  #coi3{margin-left:8px}
  #coi4{margin-left:212px}

  .footer-allright {margin-right:72px; margin-top:14px}

  #footer-sociali-one{margin-right:-103px}

  #footer-sociali-two{margin-right:-56px}
  #footer-sociali-three{margin-right:-8px}

}





@media screen and (min-width: 768px) and (max-width:900px){
  .footer{height:140px}

  .footer h3{margin-left:36px; font-size:2.2vw;}
  #coi1{margin-left:5px; }
  .coi1-span{font-size:1.6vw}


  #coi2{margin-left:28px; margin-top:20px;}
  .coi2-span{font-size:1.6vw}

  #coi3{margin-left:8px}
  .coi3-span{font-size:1.6vw}

  #coi4{margin-left:190px}
  .coi4-span{font-size:1.6vw}


  .footer-allright {margin-right:72px; margin-top:14px; font-size:1.6vw}

  #footer-sociali-one{margin-right:-103px; font-size:2.8vw}

  #footer-sociali-two{margin-right:-56px; font-size:2.8vw}
  #footer-sociali-three{margin-right:-8px;  font-size:2.8vw}

}






@media screen and  (max-width:768px){
  .footer{height:140px}

  .footer h3{margin-left:36px; font-size:2.2vw;}
  #coi1{margin-left:5px; }
  .coi1-span{font-size:1.6vw}


  #coi2{margin-left:8px; margin-top:20px;}
  .coi2-span{font-size:1.6vw}

  #coi3{margin-left:8px}
  .coi3-span{font-size:1.6vw}

  #coi4{margin-left:105px}
  .coi4-span{font-size:1.6vw}


  .footer-allright {margin-right:57px; margin-top:23px; font-size:1.6vw}

  #footer-sociali-one{margin-right:-5px; font-size:2.8vw; margin-top:24px}

  #footer-sociali-two{margin-right:-46px; font-size:2.8vw; margin-top:24px}
  #footer-sociali-three{margin-right:-69px;  font-size:2.8vw; margin-top:24px}

}





@media screen and  (max-width:500px){


/* // displaying contactform-phone as none */
.contact-form{display:none}

.contact-form-mobile{display:block}


.contact-form-head h3 {    margin-left: 0px;
  margin-top: 111px;  font-size: 26px;}
  .contact-form-head p{    margin: 5px 56px 0px 31px;}

  .contact-form-mobile {margin-top: 20px;}


  .contact-form-mobile h3{font-family: 'poppins', sans-serif; font-size:21px; position: relative; margin-left: 52px; }
  #form-asterisk-mobile{font-size:9px; color:#3f3f3f; margin-left:8px; margin-top:4px; position: absolute; }
  
  
  .Affiliation-select-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  



  .FirstNameSection-mobile{margin-top:15px;  }
  .FirstName-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  .FirstName-mobile:focus {color:black}
  


  .LastNameSection-mobile{ margin-top:15px;}
  .LastName-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  .LastName-mobile:focus {color:black}
  
  
  
  
  .EmailSection-mobile{  margin-top:15px;  }
  .FormEmail-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  .FormEmail-mobile:focus {color:black}
  
  .PhoneSection-mobile{   margin-top:15px;  }
  .FormPhone-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  .FormPhone-mobile:focus {color:black}
  
  
  
  .CompanySection-mobile{ margin-top:15px;}
  .Company-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  .Company-mobile:focus {color:black}
  




  .OccupationSection-mobile{margin-top:15px;}
  .Occupation-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  .Occupation-mobile:focus {color:black}
  

  .CountrtSection-mobile{margin-top:15px}
  .country-select-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  
  
  .MessageSection-mobile{margin-top:15px}
  .FormMessage-mobile{width: 350px;
   height: 43px;
   text-indent: 10px;
   margin-left: 51px}
  .FormMessage-mobile:focus {color:black; }
  .MessageSection-mobile::placeholder { color:red; background-color:red}
  
  
  #formbutton-mobile{margin-top:15px; background-color:#ffbf00; border:none; color:black; width:100px; height:40px; font-family: 'poppins', sans-serif;
                 font-size:18px; outline: none; margin-bottom:22px; margin-left: 51px;}
  
       #formbutton-mobile:focus{ box-shadow: none; }
              
  
  #formbutton-mobile:active, #formbutton-mobile:focus {border:none; outline-style: none;  }
  













  .footer{display:none}
  .footer-phone{display:block}
  
  
  
  
  .footer-phone{width:100%; height:auto; background-color:black;  margin-top:15px; tedxt-align: center; }
  
  .footer-phone h3{color: #ffbf00;
    font-size: 1.4em;  padding-top:5px; text-align:center  }
  
  #coi1-phone{ color:white; margin-top:10px; margin-left: 27px;}
  .coi1-span-phone{color:white; margin-left:4px}
  
  
  #coi2-phone{ color:white;margin-top: 15px; margin-left: 29px;}
  .coi2-span-phone{color:white; margin-left:4px}
  
  #coi3-phone{ color:white; margin-top:15px; margin-left: 30px;}
  .coi3-span-phone{color:white; margin-left:4px}
  
  
  #coi4-phone{ color:white; margin-top:15px; margin-left: 30px;}
  .coi4-span-phone{color:white; margin-left:4px}
  
  
  
  .footer-allright-phone{ color:white;  margin-top: 17px;
    text-align: center;
    font-size: 1.2em;}
  
    .footer-icons-phone{text-align:center; margin-top: -13px;}
  #footer-sociali-one-phone{ font-size:22px; color:white; }
  #footer-sociali-two-phone{ font-size:22px; color:white;  margin: 9px;}
  #footer-sociali-three-phone{ font-size:22px; color:white;}
  

  }
  
